<!DOCTYPE html>
{% macro csrf () %}
  <meta name="csrf" content="{{ request_context.csrf_token }};{{ request_context.CSRF_NAME }}">
{% endmacro %}
<html lang="{% block lang %}en{% endblock %}">
  <head>
    {{ csrf () }}
    {% block head_start %}{% endblock %}
    <meta charset="UTF-8">
    {% block pwa_style %}
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta name="apple-mobile-web-app-title" content="{{ app.config.SITE_NAME }}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=8.0, user-scalable=yes, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="{{ request_context.static ('favicon.ico') }}">
    {% block head_icons %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% block head %}
      <link rel="preload" as="script" href="{{ request_context.static ('atila-vue/js/prototypes.js') }}">
      <link rel="preload" as="script" href="{{ request_context.static ('atila-vue/js/frontend.js') }}">
    {% endblock %}
    {% block prefetch %}{% endblock %}
    {% block head_style %}
      <link rel="stylesheet" href="{{ request_context.static ('css/custom.css') }}">
    {% endblock %}
    {% block head_script %}{% endblock %}
    {% block head_end %}{% endblock %}
    <style>
      {% block style %}{% endblock %}
    </style>
  </head>

  <body>
    {% block noscript %}{% endblock %}
    {% block body %}{% endblock %}
    {% block body_trailer %}

      <script src="{{ request_context.static ('sw/idb@7.js') }}"></script>
      <script src="{{ request_context.static ('atila-vue/js/prototypes.js') }}"></script>
      <script src="{{ request_context.static ('atila-vue/js/frontend.js') }}"></script>

      <script>
        const __debug__ = {{ 'true' if app.debug else 'false' }}
      </script>

      {% if 'SENTRY' in app.config %}
        {% if 'cdn' in app.config.SENTRY %}
          <script src="{{ app.config.SENTRY.cdn }}" crossorigin="anonymous"></script>
        {% else %}
          <script src="https://browser.sentry-cdn.com/7.110.0/bundle.tracing.min.js" integrity="sha384-AW7fAmtSljXVfwe7Dukjfbi0Qktn2FWEiYrH79/C6BrhJ6rePsHmThRaPUdTJxad" crossorigin="anonymous"></script>
        {% endif %}

        <script>
        if (!!window.Sentry) { // ad-blocked
          Sentry.init ({{ app.config.SENTRY | tojson }})
          console.log ("[info] sentry loaded")
        }
        </script>
      {% endif %}

      {% if 'FIREBASE_CONFIG' in app.config %}
        <script src="{{ request_context.static (app.config.FIREBASE_CONFIG) }}"></script>
        <script>
          // run as sync mode, define first
          firebase.getAuth = async () => {
            await frontend.wait_for_define ("firebase.auth", 10000)
            return firebase.auth.getAuth ()
          }

          if ("measurementId" in firebaseConfig) {
            firebase.optional.analystic = true
            firebase.getAnalytics = async () => {
              await frontend.wait_for_define ("firebase.analytics", 10000)
              return firebase.analytics.getAnalytics  ()
            }
          }
          if ("vapidKey" in firebaseConfig) {
            firebase.optional.messaging = true
            firebase.getMessaging = async () => {
              await frontend.wait_for_define ("firebase.messaging", 10000)
              return firebase.messaging.getMessaging ()
            }
          }
        </script>

        <script type="module">
          import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js"
          firebaseConfig.authDomain = "{{ request.get_header ('host') }}"
          firebase.app = initializeApp (firebaseConfig)

          const importModules = []
          importModules.push (import ("https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js"))
          if ("measurementId" in firebaseConfig) {
            importModules.push (import ("https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js"))
          }
          const importedModules = await Promise.all (importModules)
          firebase.auth = importedModules [0]
          if (importedModules.length == 2) {
            firebase.analytics = importedModules [1]
          }

          if ("vapidKey" in firebaseConfig) {
            firebase.messaging = await import ("https://www.gstatic.com/firebasejs/10.12.2/firebase-messaging.js")
          }
          console.log ("[info] firebase loaded")
        </script>
      {% endif %}

    {% endblock %}
    <script src="{{ request_context.static ('sw/serviceworker-register.js') }}"></script>
  </body>
</html>
