{% extends 'atila-vue/bs5.j2' %}

{% block lang %}ko{% endblock %}

{% block state_map %}
    {{ super () }}
    {{ set_cloak (False) }}
{% endblock %}

{% block body_trailer_script %}
  {{ super () }}
{% endblock %}
