<template>
    <div class="container">
      <h1 class='ko-b'>Sub Page</h1>
      <span class="example">
      <i class="bi-alarm"></i> {{name}} {{ last_name () }} {{ msg }}</span>
      <div><router-link :to="{ name: 'index'}">Main Page</router-link></div>
      <div><sub-component></sub-component></div>
    </div>
  </template>

  <style scoped>
    .example {
      color: v-bind('color');
    }
  </style>

  <script setup>
  import subComponent from '/routes/spa/components/subComponent.vue'

  const props = defineProps ({posts: String})
  const { state } = useStore ()
  const msg = ref ('world!')
  const color = ref ('blue!')
  const name = computed (() => {return 'Hans'})
  const codelist = ref ([])
  watch(() => props.visible, (newValue, oldValue) => {
    console.log('props.visible 의 변이가 감지되었을 때 ', {newValue, oldValue})
  })
  onBeforeMount (async () => {
    // const r = await axios.get (backend.endpoint ('APIS_PREDICTIONS_CODELIST'))
    // codelist.value = r.data.codes
    codelist.value = [{code: '100', name: 'Item 100'}, {code: '100', name: 'Item 200'}]
  })
  function last_name () {
    return "Roh"
  }
  </script>
