<template>
  <div class="rounded-2">
    <div class="picker">
      <input id="webkitdirectory" type="file" @change="folderSelected" webkitdirectory multiple class="btn btn-success w-100">
    </div>
    <div class="bg-teal-lighten-4 pa-2" id="drop-zone" style="height: 140px;">
      <div class="text-center align-middle text-teal-lighten-1 ">
        <div class="fs-3 fw-bold mt-8">Drop Folder Here</div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="progressModal" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-2">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="col-10 text-grey-darken-2 fs-6">
              <b class="mr-3">Listing Image Files...</b>
            </div>
          </div>
          <div class="text-grey-darken-2 mt-4" style="font-size: 14px;">
            Please, be patient. Do not close tab nor refresh current page.
          </div>
        </div>
      </div>
    </div>
  </div>

</template>






<style scoped>
#drop-zone {
  border: dashed 5px #70b7b1;
}

.active {
  border: solid 5px #6db0a9 !important;
  background-color: #459696 !important;
}

.active .fs-3 {
  color: #cdefef !important;
}
</style>



<script setup>
const emit = defineEmits (['change', 'start-loading'])
const props = defineProps ({
  allowFile: {type: Boolean, default: false},
  mimeTypes: {type: Array, default: null},
})

const filelist = ref ([])
const images = ref (0)
const notImages = ref (0)
const totalBytes = ref (0)

let droppedItem = null

function setDropZone () {
  droppedItem = null // reinit
  const dropArea = document.querySelector("#drop-zone")
  dropArea.addEventListener(
    "dragover",
    function(e) {
      dropArea.classList.add ('active')
      e.preventDefault()
    },
    false
  )

  dropArea.addEventListener(
    "dragleave",
    function(e) {
      dropArea.classList.remove ('active')
    },
    false
  )

  dropArea.addEventListener(
    "drop",
    function(event) {
      const items = event.dataTransfer.items
      event.preventDefault()
      emit ("start-loading")
      showProgress ()
      getFilesDataTransferItems(items).then(files => {
        dropArea.classList.remove ('active')
        hideProgress ()
        emit ('change', filelist.value, notImages.value, totalBytes.value)
      })
    },
    false
  )

  function readEntriesAsync (reader) {
    return new Promise((resolve, reject) => {
      reader.readEntries(entries => {
        resolve(entries);
      }, error => reject(error));
    })
  }

  async function enumerateDirectoryWithManyFiles (reader) {
    let resultEntries = []
    let read = async function() {
      let entries = await readEntriesAsync(reader);
      if (entries.length > 0) {
        resultEntries = resultEntries.concat(entries);
        await read()
      }
    }
    await read ()
    return resultEntries
  }

  function getFilesDataTransferItems(dataTransferItems) {
    function traverseFileTreePromise(item, path = "", folder) {
      return new Promise(async (resolve) => {
      if (!props.allowFile && droppedItem == null && item.isFile) {
        throw new Error ('directory only')
      } else {
        droppedItem = item
      }
      if (item.isFile) {
        item.file(file => {
          if (!mimeTypeMatched (file.type)) {
            notImages.value += 1
            return resolve(file)
          }
          file.relativePath = (path || "") + file.name; //save full path
          filelist.value.push (file)
          images.value ++
          totalBytes.value += file.size
          resolve(file)
        })

      } else if (item.isDirectory) {
        let dirReader = item.createReader()
        let entries = await enumerateDirectoryWithManyFiles (dirReader)
        const entriesPromises = []
        const subfolder = []
        for (let entr of entries) {
        entriesPromises.push(
          traverseFileTreePromise(entr, (path || "")  + item.name + "/", subfolder)
        )
        }
        resolve(Promise.all(entriesPromises))
      }
      })
    }

  const files = []
  return new Promise((resolve, reject) => {
    let entriesPromises = [];
    for (let it of dataTransferItems) {
    entriesPromises.push(
      traverseFileTreePromise(it.webkitGetAsEntry(), null, files)
    )
    }
    Promise.all(entriesPromises).then(entries => {
    resolve(files)
    })
  })
  }
}






function mimeTypeMatched (type) {
  if (!props.mimeTypes || !props.mimeTypes.length) return true
  for (let it of props.mimeTypes) {
    if (type.startsWith (it)) return true
  }
  return false
}

function folderSelected (e) {
  showProgress ()
  for (let file of e.target.files) {
    if (!mimeTypeMatched (file.type)) {
      notImages.value += 1
      continue
    }
    file.relativePath = file.webkitRelativePath
    totalBytes.value += file.size
    filelist.value.push (file)
    images.value ++
  }
  emit ('change', filelist.value, notImages.value, totalBytes.value)
  hideProgress ()
}

let progressModal = null
function hideProgress () {
  if (!!progressModal) {
    progressModal.hide ()
  }
}

function showProgress (total = 0) {
  progressModal = new bootstrap.Modal(document.getElementById ('progressModal'))
  progressModal.show ()
}






onMounted (() => {
  setDropZone ()
})

</script>
