<template>
  <div>
  <slot name="error" v-if="state.$error_blocked" />
  <slot v-else />
  </div>
</template>



<script setup>
const { state } = useStore ()

onErrorCaptured((err, vm, info) => {
  if (__debug__) console.log (err)
  state.$error_blocked = true
  frontend.error_captured (err, vm, info)
})
</script>
