<template>
    <table class="scroll-header mb-1"></table>
    <div :style="{'height': props.height}" class="scroll-area" @resize.prevent="resizeHeader" @scroll.prevent="(e) => pagenate (e)">
        <slot></slot>
        <div v-if="updating" class="d-flex justify-content-center">
            <div class="spinner-grow text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</template>






<style scoped>
.scroll-area {
  overflow-y:auto;
  overflow-x:hidden;
  width: 100%;
  scrollbar-color: #A6A6A9 #303036;
  display: block;
}
</style>






<script setup>
/*
Usage:

<scrollable ref="scroller" :items="items" height="400px" @scrollend="(currentPage) => pagenate (currentPage)">
    <table class="table table-sm table-dark table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">IP</th>
        </tr>
    </thead>

    <tbody v-if="items.length == 0">
        <tr>
        <td colspan="8" class="text-center py-8">No usage at this time.</td>
        </tr>
    </tbody>

    <tbody v-else class="fs-13px">
        <tr v-for="item, index in items">
            <td class="text-nowrap">{{ item.in_date.dateformat ("%b %d, %Y %H:%M") }}</td>
            // shorter than header. must specify min-width
            <td style="min-width: 100px;">{{ item.ip_address }}</td>
        </tr>
    </tbody>
    </table>
    </scrollable>
*/

const props = defineProps ({
    items: {required: true, Type: Array},
    height: {default: '200px', Type: String},
})
const emit = defineEmits (['scrollend'])

const items = ref (props.items)
const currentPage = ref (0)
const updating = ref (false)
const moreItems = ref (true)

function pagenate (e) {
    if (!moreItems.value || updating.value || !frontend.layout.is_scroll_y_end (e.target)) {
        return
    }
    currentPage.value++
    emit ('scrollend', currentPage.value)
    updating.value = true
}

function updated (count, pageIndex) {
    updating.value = false
    if (count == 0) {
        moreItems.value = false
    }
    if (pageIndex == 0) {
        currentPage.value = 0
        moreItems.value = true
    }
    resizeHeader ()
}

async function resizeHeader () {
    const exist = await frontend.layout.wait_for_exist (`.scroll-area tbody tr:nth-child(${items.value.length})`, 30000)
    if (!exist) {return}
    document.querySelector ('.scroll-header').style.width = document.querySelector ('.scroll-area table').offsetWidth + 'px'
    const row = document.querySelector (`.scroll-area tbody tr:nth-child(${items.value.length}`)
    let index = 0
    const header = document.querySelectorAll ('.scroll-header th')
    for (const col of row.querySelectorAll ('td')) {
        header [index].style.width = col.offsetWidth + 'px'
        index ++
    }
}

onMounted (() => {
    const thead = document.querySelector ('.scroll-area thead')
    if (!thead) {
        return
    }
    const scrollHeader = document.querySelector ('.scroll-header')
    const scrollTable = document.querySelector ('.scroll-area table')
    scrollHeader.appendChild (thead)
    for (const _class of scrollTable.classList) {
        scrollHeader.classList.add (_class)
    }
    resizeHeader ()
    window.addEventListener ('resize', resizeHeader)
})

onActivated (() => {
    resizeHeader ()
})

defineExpose ({updated})
</script>