.debug-context {
  padding: 12px 0 24px 0;
  background-color: #d4d3d3;
}

.debug-context h5 {
  font-size: 15px;
  font-weight: bold;
}

.debug-context code {
  color: #505050;
}

.debug-context li {
  font-size: 14px;
}

.debug-context .context {
    word-break: break-all;
  margin-right: 32px;
}

.debug-context .article {
  word-break: break-all;
  margin-right: 32px;
}

.debug-context .router {
  word-break: break-all;
  margin-right: 32px;
}






















.fs-7px {
  font-size: 7px !important;
}

.fs-8px {
  font-size: 8px !important;
}

.fs-9px {
  font-size: 9px !important;
}

.fs-10px {
  font-size: 10px !important;
}

.fs-11px {
  font-size: 11px !important;
}

.fs-12px {
  font-size: 12px !important;
}

.fs-13px {
  font-size: 13px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.fs-15px {
  font-size: 15px !important;
}

.fs-16px {
  font-size: 15px !important;
}

.fs-17px {
  font-size: 17px !important;
}

.fs-18px {
  font-size: 18px !important;
}

.fs-19px {
  font-size: 19px !important;
}

.fs-20px {
  font-size: 20px !important;
}




















.bg-black {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.bg-white {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.bg-transparent {
  background-color: transparent !important;
  color: currentColor !important;
}

.bg-red {
  background-color: #F44336 !important;
  color: #FFFFFF !important;
}

.bg-red-lighten-5 {
  background-color: #FFEBEE !important;
  color: #000000 !important;
}

.bg-red-lighten-4 {
  background-color: #FFCDD2 !important;
  color: #000000 !important;
}

.bg-red-lighten-3 {
  background-color: #EF9A9A !important;
  color: #000000 !important;
}

.bg-red-lighten-2 {
  background-color: #E57373 !important;
  color: #FFFFFF !important;
}

.bg-red-lighten-1 {
  background-color: #EF5350 !important;
  color: #FFFFFF !important;
}

.bg-red-darken-1 {
  background-color: #E53935 !important;
  color: #FFFFFF !important;
}

.bg-red-darken-2 {
  background-color: #D32F2F !important;
  color: #FFFFFF !important;
}

.bg-red-darken-3 {
  background-color: #C62828 !important;
  color: #FFFFFF !important;
}

.bg-red-darken-4 {
  background-color: #B71C1C !important;
  color: #FFFFFF !important;
}

.bg-red-accent-1 {
  background-color: #FF8A80 !important;
  color: #000000 !important;
}

.bg-red-accent-2 {
  background-color: #FF5252 !important;
  color: #FFFFFF !important;
}

.bg-red-accent-3 {
  background-color: #FF1744 !important;
  color: #FFFFFF !important;
}

.bg-red-accent-4 {
  background-color: #D50000 !important;
  color: #FFFFFF !important;
}

.bg-pink {
  background-color: #e91e63 !important;
  color: #FFFFFF !important;
}

.bg-pink-lighten-5 {
  background-color: #fce4ec !important;
  color: #000000 !important;
}

.bg-pink-lighten-4 {
  background-color: #f8bbd0 !important;
  color: #000000 !important;
}

.bg-pink-lighten-3 {
  background-color: #f48fb1 !important;
  color: #000000 !important;
}

.bg-pink-lighten-2 {
  background-color: #f06292 !important;
  color: #FFFFFF !important;
}

.bg-pink-lighten-1 {
  background-color: #ec407a !important;
  color: #FFFFFF !important;
}

.bg-pink-darken-1 {
  background-color: #d81b60 !important;
  color: #FFFFFF !important;
}

.bg-pink-darken-2 {
  background-color: #c2185b !important;
  color: #FFFFFF !important;
}

.bg-pink-darken-3 {
  background-color: #ad1457 !important;
  color: #FFFFFF !important;
}

.bg-pink-darken-4 {
  background-color: #880e4f !important;
  color: #FFFFFF !important;
}

.bg-pink-accent-1 {
  background-color: #ff80ab !important;
  color: #FFFFFF !important;
}

.bg-pink-accent-2 {
  background-color: #ff4081 !important;
  color: #FFFFFF !important;
}

.bg-pink-accent-3 {
  background-color: #f50057 !important;
  color: #FFFFFF !important;
}

.bg-pink-accent-4 {
  background-color: #c51162 !important;
  color: #FFFFFF !important;
}

.bg-purple {
  background-color: #9c27b0 !important;
  color: #FFFFFF !important;
}

.bg-purple-lighten-5 {
  background-color: #f3e5f5 !important;
  color: #000000 !important;
}

.bg-purple-lighten-4 {
  background-color: #e1bee7 !important;
  color: #000000 !important;
}

.bg-purple-lighten-3 {
  background-color: #ce93d8 !important;
  color: #FFFFFF !important;
}

.bg-purple-lighten-2 {
  background-color: #ba68c8 !important;
  color: #FFFFFF !important;
}

.bg-purple-lighten-1 {
  background-color: #ab47bc !important;
  color: #FFFFFF !important;
}

.bg-purple-darken-1 {
  background-color: #8e24aa !important;
  color: #FFFFFF !important;
}

.bg-purple-darken-2 {
  background-color: #7b1fa2 !important;
  color: #FFFFFF !important;
}

.bg-purple-darken-3 {
  background-color: #6a1b9a !important;
  color: #FFFFFF !important;
}

.bg-purple-darken-4 {
  background-color: #4a148c !important;
  color: #FFFFFF !important;
}

.bg-purple-accent-1 {
  background-color: #ea80fc !important;
  color: #FFFFFF !important;
}

.bg-purple-accent-2 {
  background-color: #e040fb !important;
  color: #FFFFFF !important;
}

.bg-purple-accent-3 {
  background-color: #d500f9 !important;
  color: #FFFFFF !important;
}

.bg-purple-accent-4 {
  background-color: #aa00ff !important;
  color: #FFFFFF !important;
}

.bg-deep-purple {
  background-color: #673ab7 !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-lighten-5 {
  background-color: #ede7f6 !important;
  color: #000000 !important;
}

.bg-deep-purple-lighten-4 {
  background-color: #d1c4e9 !important;
  color: #000000 !important;
}

.bg-deep-purple-lighten-3 {
  background-color: #b39ddb !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-lighten-2 {
  background-color: #9575cd !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-lighten-1 {
  background-color: #7e57c2 !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-darken-1 {
  background-color: #5e35b1 !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-darken-2 {
  background-color: #512da8 !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-darken-3 {
  background-color: #4527a0 !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-darken-4 {
  background-color: #311b92 !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-accent-1 {
  background-color: #b388ff !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-accent-2 {
  background-color: #7c4dff !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-accent-3 {
  background-color: #651fff !important;
  color: #FFFFFF !important;
}

.bg-deep-purple-accent-4 {
  background-color: #6200ea !important;
  color: #FFFFFF !important;
}

.bg-indigo {
  background-color: #3f51b5 !important;
  color: #FFFFFF !important;
}

.bg-indigo-lighten-5 {
  background-color: #e8eaf6 !important;
  color: #000000 !important;
}

.bg-indigo-lighten-4 {
  background-color: #c5cae9 !important;
  color: #000000 !important;
}

.bg-indigo-lighten-3 {
  background-color: #9fa8da !important;
  color: #FFFFFF !important;
}

.bg-indigo-lighten-2 {
  background-color: #7986cb !important;
  color: #FFFFFF !important;
}

.bg-indigo-lighten-1 {
  background-color: #5c6bc0 !important;
  color: #FFFFFF !important;
}

.bg-indigo-darken-1 {
  background-color: #3949ab !important;
  color: #FFFFFF !important;
}

.bg-indigo-darken-2 {
  background-color: #303f9f !important;
  color: #FFFFFF !important;
}

.bg-indigo-darken-3 {
  background-color: #283593 !important;
  color: #FFFFFF !important;
}

.bg-indigo-darken-4 {
  background-color: #1a237e !important;
  color: #FFFFFF !important;
}

.bg-indigo-accent-1 {
  background-color: #8c9eff !important;
  color: #FFFFFF !important;
}

.bg-indigo-accent-2 {
  background-color: #536dfe !important;
  color: #FFFFFF !important;
}

.bg-indigo-accent-3 {
  background-color: #3d5afe !important;
  color: #FFFFFF !important;
}

.bg-indigo-accent-4 {
  background-color: #304ffe !important;
  color: #FFFFFF !important;
}

.bg-blue {
  background-color: #2196F3 !important;
  color: #FFFFFF !important;
}

.bg-blue-lighten-5 {
  background-color: #E3F2FD !important;
  color: #000000 !important;
}

.bg-blue-lighten-4 {
  background-color: #BBDEFB !important;
  color: #000000 !important;
}

.bg-blue-lighten-3 {
  background-color: #90CAF9 !important;
  color: #000000 !important;
}

.bg-blue-lighten-2 {
  background-color: #64B5F6 !important;
  color: #000000 !important;
}

.bg-blue-lighten-1 {
  background-color: #42A5F5 !important;
  color: #FFFFFF !important;
}

.bg-blue-darken-1 {
  background-color: #1E88E5 !important;
  color: #FFFFFF !important;
}

.bg-blue-darken-2 {
  background-color: #1976D2 !important;
  color: #FFFFFF !important;
}

.bg-blue-darken-3 {
  background-color: #1565C0 !important;
  color: #FFFFFF !important;
}

.bg-blue-darken-4 {
  background-color: #0D47A1 !important;
  color: #FFFFFF !important;
}

.bg-blue-accent-1 {
  background-color: #82B1FF !important;
  color: #000000 !important;
}

.bg-blue-accent-2 {
  background-color: #448AFF !important;
  color: #FFFFFF !important;
}

.bg-blue-accent-3 {
  background-color: #2979FF !important;
  color: #FFFFFF !important;
}

.bg-blue-accent-4 {
  background-color: #2962FF !important;
  color: #FFFFFF !important;
}

.bg-light-blue {
  background-color: #03a9f4 !important;
  color: #FFFFFF !important;
}

.bg-light-blue-lighten-5 {
  background-color: #e1f5fe !important;
  color: #000000 !important;
}

.bg-light-blue-lighten-4 {
  background-color: #b3e5fc !important;
  color: #000000 !important;
}

.bg-light-blue-lighten-3 {
  background-color: #81d4fa !important;
  color: #000000 !important;
}

.bg-light-blue-lighten-2 {
  background-color: #4fc3f7 !important;
  color: #000000 !important;
}

.bg-light-blue-lighten-1 {
  background-color: #29b6f6 !important;
  color: #000000 !important;
}

.bg-light-blue-darken-1 {
  background-color: #039be5 !important;
  color: #FFFFFF !important;
}

.bg-light-blue-darken-2 {
  background-color: #0288d1 !important;
  color: #FFFFFF !important;
}

.bg-light-blue-darken-3 {
  background-color: #0277bd !important;
  color: #FFFFFF !important;
}

.bg-light-blue-darken-4 {
  background-color: #01579b !important;
  color: #FFFFFF !important;
}

.bg-light-blue-accent-1 {
  background-color: #80d8ff !important;
  color: #000000 !important;
}

.bg-light-blue-accent-2 {
  background-color: #40c4ff !important;
  color: #000000 !important;
}

.bg-light-blue-accent-3 {
  background-color: #00b0ff !important;
  color: #FFFFFF !important;
}

.bg-light-blue-accent-4 {
  background-color: #0091ea !important;
  color: #FFFFFF !important;
}

.bg-cyan {
  background-color: #00bcd4 !important;
  color: #000000 !important;
}

.bg-cyan-lighten-5 {
  background-color: #e0f7fa !important;
  color: #000000 !important;
}

.bg-cyan-lighten-4 {
  background-color: #b2ebf2 !important;
  color: #000000 !important;
}

.bg-cyan-lighten-3 {
  background-color: #80deea !important;
  color: #000000 !important;
}

.bg-cyan-lighten-2 {
  background-color: #4dd0e1 !important;
  color: #000000 !important;
}

.bg-cyan-lighten-1 {
  background-color: #26c6da !important;
  color: #000000 !important;
}

.bg-cyan-darken-1 {
  background-color: #00acc1 !important;
  color: #FFFFFF !important;
}

.bg-cyan-darken-2 {
  background-color: #0097a7 !important;
  color: #FFFFFF !important;
}

.bg-cyan-darken-3 {
  background-color: #00838f !important;
  color: #FFFFFF !important;
}

.bg-cyan-darken-4 {
  background-color: #006064 !important;
  color: #FFFFFF !important;
}

.bg-cyan-accent-1 {
  background-color: #84ffff !important;
  color: #000000 !important;
}

.bg-cyan-accent-2 {
  background-color: #18ffff !important;
  color: #000000 !important;
}

.bg-cyan-accent-3 {
  background-color: #00e5ff !important;
  color: #000000 !important;
}

.bg-cyan-accent-4 {
  background-color: #00b8d4 !important;
  color: #FFFFFF !important;
}

.bg-teal {
  background-color: #009688 !important;
  color: #FFFFFF !important;
}

.bg-teal-lighten-5 {
  background-color: #e0f2f1 !important;
  color: #000000 !important;
}

.bg-teal-lighten-4 {
  background-color: #b2dfdb !important;
  color: #000000 !important;
}

.bg-teal-lighten-3 {
  background-color: #80cbc4 !important;
  color: #000000 !important;
}

.bg-teal-lighten-2 {
  background-color: #4db6ac !important;
  color: #FFFFFF !important;
}

.bg-teal-lighten-1 {
  background-color: #26a69a !important;
  color: #FFFFFF !important;
}

.bg-teal-darken-1 {
  background-color: #00897b !important;
  color: #FFFFFF !important;
}

.bg-teal-darken-2 {
  background-color: #00796b !important;
  color: #FFFFFF !important;
}

.bg-teal-darken-3 {
  background-color: #00695c !important;
  color: #FFFFFF !important;
}

.bg-teal-darken-4 {
  background-color: #004d40 !important;
  color: #FFFFFF !important;
}

.bg-teal-accent-1 {
  background-color: #a7ffeb !important;
  color: #000000 !important;
}

.bg-teal-accent-2 {
  background-color: #64ffda !important;
  color: #000000 !important;
}

.bg-teal-accent-3 {
  background-color: #1de9b6 !important;
  color: #000000 !important;
}

.bg-teal-accent-4 {
  background-color: #00bfa5 !important;
  color: #FFFFFF !important;
}

.bg-green {
  background-color: #4CAF50 !important;
  color: #FFFFFF !important;
}

.bg-green-lighten-5 {
  background-color: #E8F5E9 !important;
  color: #000000 !important;
}

.bg-green-lighten-4 {
  background-color: #C8E6C9 !important;
  color: #000000 !important;
}

.bg-green-lighten-3 {
  background-color: #A5D6A7 !important;
  color: #000000 !important;
}

.bg-green-lighten-2 {
  background-color: #81C784 !important;
  color: #000000 !important;
}

.bg-green-lighten-1 {
  background-color: #66BB6A !important;
  color: #FFFFFF !important;
}

.bg-green-darken-1 {
  background-color: #43A047 !important;
  color: #FFFFFF !important;
}

.bg-green-darken-2 {
  background-color: #388E3C !important;
  color: #FFFFFF !important;
}

.bg-green-darken-3 {
  background-color: #2E7D32 !important;
  color: #FFFFFF !important;
}

.bg-green-darken-4 {
  background-color: #1B5E20 !important;
  color: #FFFFFF !important;
}

.bg-green-accent-1 {
  background-color: #B9F6CA !important;
  color: #000000 !important;
}

.bg-green-accent-2 {
  background-color: #69F0AE !important;
  color: #000000 !important;
}

.bg-green-accent-3 {
  background-color: #00E676 !important;
  color: #000000 !important;
}

.bg-green-accent-4 {
  background-color: #00C853 !important;
  color: #000000 !important;
}

.bg-light-green {
  background-color: #8bc34a !important;
  color: #000000 !important;
}

.bg-light-green-lighten-5 {
  background-color: #f1f8e9 !important;
  color: #000000 !important;
}

.bg-light-green-lighten-4 {
  background-color: #dcedc8 !important;
  color: #000000 !important;
}

.bg-light-green-lighten-3 {
  background-color: #c5e1a5 !important;
  color: #000000 !important;
}

.bg-light-green-lighten-2 {
  background-color: #aed581 !important;
  color: #000000 !important;
}

.bg-light-green-lighten-1 {
  background-color: #9ccc65 !important;
  color: #000000 !important;
}

.bg-light-green-darken-1 {
  background-color: #7cb342 !important;
  color: #FFFFFF !important;
}

.bg-light-green-darken-2 {
  background-color: #689f38 !important;
  color: #FFFFFF !important;
}

.bg-light-green-darken-3 {
  background-color: #558b2f !important;
  color: #FFFFFF !important;
}

.bg-light-green-darken-4 {
  background-color: #33691e !important;
  color: #FFFFFF !important;
}

.bg-light-green-accent-1 {
  background-color: #ccff90 !important;
  color: #000000 !important;
}

.bg-light-green-accent-2 {
  background-color: #b2ff59 !important;
  color: #000000 !important;
}

.bg-light-green-accent-3 {
  background-color: #76ff03 !important;
  color: #000000 !important;
}

.bg-light-green-accent-4 {
  background-color: #64dd17 !important;
  color: #000000 !important;
}

.bg-lime {
  background-color: #cddc39 !important;
  color: #000000 !important;
}

.bg-lime-lighten-5 {
  background-color: #f9fbe7 !important;
  color: #000000 !important;
}

.bg-lime-lighten-4 {
  background-color: #f0f4c3 !important;
  color: #000000 !important;
}

.bg-lime-lighten-3 {
  background-color: #e6ee9c !important;
  color: #000000 !important;
}

.bg-lime-lighten-2 {
  background-color: #dce775 !important;
  color: #000000 !important;
}

.bg-lime-lighten-1 {
  background-color: #d4e157 !important;
  color: #000000 !important;
}

.bg-lime-darken-1 {
  background-color: #c0ca33 !important;
  color: #000000 !important;
}

.bg-lime-darken-2 {
  background-color: #afb42b !important;
  color: #000000 !important;
}

.bg-lime-darken-3 {
  background-color: #9e9d24 !important;
  color: #FFFFFF !important;
}

.bg-lime-darken-4 {
  background-color: #827717 !important;
  color: #FFFFFF !important;
}

.bg-lime-accent-1 {
  background-color: #f4ff81 !important;
  color: #000000 !important;
}

.bg-lime-accent-2 {
  background-color: #eeff41 !important;
  color: #000000 !important;
}

.bg-lime-accent-3 {
  background-color: #c6ff00 !important;
  color: #000000 !important;
}

.bg-lime-accent-4 {
  background-color: #aeea00 !important;
  color: #000000 !important;
}

.bg-yellow {
  background-color: #ffeb3b !important;
  color: #000000 !important;
}

.bg-yellow-lighten-5 {
  background-color: #fffde7 !important;
  color: #000000 !important;
}

.bg-yellow-lighten-4 {
  background-color: #fff9c4 !important;
  color: #000000 !important;
}

.bg-yellow-lighten-3 {
  background-color: #fff59d !important;
  color: #000000 !important;
}

.bg-yellow-lighten-2 {
  background-color: #fff176 !important;
  color: #000000 !important;
}

.bg-yellow-lighten-1 {
  background-color: #ffee58 !important;
  color: #000000 !important;
}

.bg-yellow-darken-1 {
  background-color: #fdd835 !important;
  color: #000000 !important;
}

.bg-yellow-darken-2 {
  background-color: #fbc02d !important;
  color: #000000 !important;
}

.bg-yellow-darken-3 {
  background-color: #f9a825 !important;
  color: #000000 !important;
}

.bg-yellow-darken-4 {
  background-color: #f57f17 !important;
  color: #FFFFFF !important;
}

.bg-yellow-accent-1 {
  background-color: #ffff8d !important;
  color: #000000 !important;
}

.bg-yellow-accent-2 {
  background-color: #ffff00 !important;
  color: #000000 !important;
}

.bg-yellow-accent-3 {
  background-color: #ffea00 !important;
  color: #000000 !important;
}

.bg-yellow-accent-4 {
  background-color: #ffd600 !important;
  color: #000000 !important;
}

.bg-amber {
  background-color: #ffc107 !important;
  color: #000000 !important;
}

.bg-amber-lighten-5 {
  background-color: #fff8e1 !important;
  color: #000000 !important;
}

.bg-amber-lighten-4 {
  background-color: #ffecb3 !important;
  color: #000000 !important;
}

.bg-amber-lighten-3 {
  background-color: #ffe082 !important;
  color: #000000 !important;
}

.bg-amber-lighten-2 {
  background-color: #ffd54f !important;
  color: #000000 !important;
}

.bg-amber-lighten-1 {
  background-color: #ffca28 !important;
  color: #000000 !important;
}

.bg-amber-darken-1 {
  background-color: #ffb300 !important;
  color: #000000 !important;
}

.bg-amber-darken-2 {
  background-color: #ffa000 !important;
  color: #000000 !important;
}

.bg-amber-darken-3 {
  background-color: #ff8f00 !important;
  color: #000000 !important;
}

.bg-amber-darken-4 {
  background-color: #ff6f00 !important;
  color: #FFFFFF !important;
}

.bg-amber-accent-1 {
  background-color: #ffe57f !important;
  color: #000000 !important;
}

.bg-amber-accent-2 {
  background-color: #ffd740 !important;
  color: #000000 !important;
}

.bg-amber-accent-3 {
  background-color: #ffc400 !important;
  color: #000000 !important;
}

.bg-amber-accent-4 {
  background-color: #ffab00 !important;
  color: #000000 !important;
}

.bg-orange {
  background-color: #ff9800 !important;
  color: #000000 !important;
}

.bg-orange-lighten-5 {
  background-color: #fff3e0 !important;
  color: #000000 !important;
}

.bg-orange-lighten-4 {
  background-color: #ffe0b2 !important;
  color: #000000 !important;
}

.bg-orange-lighten-3 {
  background-color: #ffcc80 !important;
  color: #000000 !important;
}

.bg-orange-lighten-2 {
  background-color: #ffb74d !important;
  color: #000000 !important;
}

.bg-orange-lighten-1 {
  background-color: #ffa726 !important;
  color: #000000 !important;
}

.bg-orange-darken-1 {
  background-color: #fb8c00 !important;
  color: #FFFFFF !important;
}

.bg-orange-darken-2 {
  background-color: #f57c00 !important;
  color: #FFFFFF !important;
}

.bg-orange-darken-3 {
  background-color: #ef6c00 !important;
  color: #FFFFFF !important;
}

.bg-orange-darken-4 {
  background-color: #e65100 !important;
  color: #FFFFFF !important;
}

.bg-orange-accent-1 {
  background-color: #ffd180 !important;
  color: #000000 !important;
}

.bg-orange-accent-2 {
  background-color: #ffab40 !important;
  color: #000000 !important;
}

.bg-orange-accent-3 {
  background-color: #ff9100 !important;
  color: #000000 !important;
}

.bg-orange-accent-4 {
  background-color: #ff6d00 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange {
  background-color: #ff5722 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-lighten-5 {
  background-color: #fbe9e7 !important;
  color: #000000 !important;
}

.bg-deep-orange-lighten-4 {
  background-color: #ffccbc !important;
  color: #000000 !important;
}

.bg-deep-orange-lighten-3 {
  background-color: #ffab91 !important;
  color: #000000 !important;
}

.bg-deep-orange-lighten-2 {
  background-color: #ff8a65 !important;
  color: #000000 !important;
}

.bg-deep-orange-lighten-1 {
  background-color: #ff7043 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-darken-1 {
  background-color: #f4511e !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-darken-2 {
  background-color: #e64a19 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-darken-3 {
  background-color: #d84315 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-darken-4 {
  background-color: #bf360c !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-accent-1 {
  background-color: #ff9e80 !important;
  color: #000000 !important;
}

.bg-deep-orange-accent-2 {
  background-color: #ff6e40 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-accent-3 {
  background-color: #ff3d00 !important;
  color: #FFFFFF !important;
}

.bg-deep-orange-accent-4 {
  background-color: #dd2c00 !important;
  color: #FFFFFF !important;
}

.bg-brown {
  background-color: #795548 !important;
  color: #FFFFFF !important;
}

.bg-brown-lighten-5 {
  background-color: #efebe9 !important;
  color: #000000 !important;
}

.bg-brown-lighten-4 {
  background-color: #d7ccc8 !important;
  color: #000000 !important;
}

.bg-brown-lighten-3 {
  background-color: #bcaaa4 !important;
  color: #000000 !important;
}

.bg-brown-lighten-2 {
  background-color: #a1887f !important;
  color: #FFFFFF !important;
}

.bg-brown-lighten-1 {
  background-color: #8d6e63 !important;
  color: #FFFFFF !important;
}

.bg-brown-darken-1 {
  background-color: #6d4c41 !important;
  color: #FFFFFF !important;
}

.bg-brown-darken-2 {
  background-color: #5d4037 !important;
  color: #FFFFFF !important;
}

.bg-brown-darken-3 {
  background-color: #4e342e !important;
  color: #FFFFFF !important;
}

.bg-brown-darken-4 {
  background-color: #3e2723 !important;
  color: #FFFFFF !important;
}

.bg-blue-grey {
  background-color: #607d8b !important;
  color: #FFFFFF !important;
}

.bg-blue-grey-lighten-5 {
  background-color: #eceff1 !important;
  color: #000000 !important;
}

.bg-blue-grey-lighten-4 {
  background-color: #cfd8dc !important;
  color: #000000 !important;
}

.bg-blue-grey-lighten-3 {
  background-color: #b0bec5 !important;
  color: #000000 !important;
}

.bg-blue-grey-lighten-2 {
  background-color: #90a4ae !important;
  color: #FFFFFF !important;
}

.bg-blue-grey-lighten-1 {
  background-color: #78909c !important;
  color: #FFFFFF !important;
}

.bg-blue-grey-darken-1 {
  background-color: #546e7a !important;
  color: #FFFFFF !important;
}

.bg-blue-grey-darken-2 {
  background-color: #455a64 !important;
  color: #FFFFFF !important;
}

.bg-blue-grey-darken-3 {
  background-color: #37474f !important;
  color: #FFFFFF !important;
}

.bg-blue-grey-darken-4 {
  background-color: #263238 !important;
  color: #FFFFFF !important;
}

.bg-grey {
  background-color: #9e9e9e !important;
  color: #FFFFFF !important;
}

.bg-grey-lighten-5 {
  background-color: #fafafa !important;
  color: #000000 !important;
}

.bg-grey-lighten-4 {
  background-color: #f5f5f5 !important;
  color: #000000 !important;
}

.bg-grey-lighten-3 {
  background-color: #eeeeee !important;
  color: #000000 !important;
}

.bg-grey-lighten-2 {
  background-color: #e0e0e0 !important;
  color: #000000 !important;
}

.bg-grey-lighten-1 {
  background-color: #bdbdbd !important;
  color: #000000 !important;
}

.bg-grey-darken-1 {
  background-color: #757575 !important;
  color: #FFFFFF !important;
}

.bg-grey-darken-2 {
  background-color: #616161 !important;
  color: #FFFFFF !important;
}

.bg-grey-darken-3 {
  background-color: #424242 !important;
  color: #FFFFFF !important;
}

.bg-grey-darken-4 {
  background-color: #212121 !important;
  color: #FFFFFF !important;
}

.bg-shades-black {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.bg-shades-white {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.bg-shades-transparent {
  background-color: transparent !important;
  color: currentColor !important;
}

.text-black {
  color: #000000 !important;
}

.text-white {
  color: #FFFFFF !important;
}

.text-transparent {
  color: transparent !important;
}

.text-red {
  color: #F44336 !important;
}

.text-red-lighten-5 {
  color: #FFEBEE !important;
}

.text-red-lighten-4 {
  color: #FFCDD2 !important;
}

.text-red-lighten-3 {
  color: #EF9A9A !important;
}

.text-red-lighten-2 {
  color: #E57373 !important;
}

.text-red-lighten-1 {
  color: #EF5350 !important;
}

.text-red-darken-1 {
  color: #E53935 !important;
}

.text-red-darken-2 {
  color: #D32F2F !important;
}

.text-red-darken-3 {
  color: #C62828 !important;
}

.text-red-darken-4 {
  color: #B71C1C !important;
}

.text-red-accent-1 {
  color: #FF8A80 !important;
}

.text-red-accent-2 {
  color: #FF5252 !important;
}

.text-red-accent-3 {
  color: #FF1744 !important;
}

.text-red-accent-4 {
  color: #D50000 !important;
}

.text-pink {
  color: #e91e63 !important;
}

.text-pink-lighten-5 {
  color: #fce4ec !important;
}

.text-pink-lighten-4 {
  color: #f8bbd0 !important;
}

.text-pink-lighten-3 {
  color: #f48fb1 !important;
}

.text-pink-lighten-2 {
  color: #f06292 !important;
}

.text-pink-lighten-1 {
  color: #ec407a !important;
}

.text-pink-darken-1 {
  color: #d81b60 !important;
}

.text-pink-darken-2 {
  color: #c2185b !important;
}

.text-pink-darken-3 {
  color: #ad1457 !important;
}

.text-pink-darken-4 {
  color: #880e4f !important;
}

.text-pink-accent-1 {
  color: #ff80ab !important;
}

.text-pink-accent-2 {
  color: #ff4081 !important;
}

.text-pink-accent-3 {
  color: #f50057 !important;
}

.text-pink-accent-4 {
  color: #c51162 !important;
}

.text-purple {
  color: #9c27b0 !important;
}

.text-purple-lighten-5 {
  color: #f3e5f5 !important;
}

.text-purple-lighten-4 {
  color: #e1bee7 !important;
}

.text-purple-lighten-3 {
  color: #ce93d8 !important;
}

.text-purple-lighten-2 {
  color: #ba68c8 !important;
}

.text-purple-lighten-1 {
  color: #ab47bc !important;
}

.text-purple-darken-1 {
  color: #8e24aa !important;
}

.text-purple-darken-2 {
  color: #7b1fa2 !important;
}

.text-purple-darken-3 {
  color: #6a1b9a !important;
}

.text-purple-darken-4 {
  color: #4a148c !important;
}

.text-purple-accent-1 {
  color: #ea80fc !important;
}

.text-purple-accent-2 {
  color: #e040fb !important;
}

.text-purple-accent-3 {
  color: #d500f9 !important;
}

.text-purple-accent-4 {
  color: #aa00ff !important;
}

.text-deep-purple {
  color: #673ab7 !important;
}

.text-deep-purple-lighten-5 {
  color: #ede7f6 !important;
}

.text-deep-purple-lighten-4 {
  color: #d1c4e9 !important;
}

.text-deep-purple-lighten-3 {
  color: #b39ddb !important;
}

.text-deep-purple-lighten-2 {
  color: #9575cd !important;
}

.text-deep-purple-lighten-1 {
  color: #7e57c2 !important;
}

.text-deep-purple-darken-1 {
  color: #5e35b1 !important;
}

.text-deep-purple-darken-2 {
  color: #512da8 !important;
}

.text-deep-purple-darken-3 {
  color: #4527a0 !important;
}

.text-deep-purple-darken-4 {
  color: #311b92 !important;
}

.text-deep-purple-accent-1 {
  color: #b388ff !important;
}

.text-deep-purple-accent-2 {
  color: #7c4dff !important;
}

.text-deep-purple-accent-3 {
  color: #651fff !important;
}

.text-deep-purple-accent-4 {
  color: #6200ea !important;
}

.text-indigo {
  color: #3f51b5 !important;
}

.text-indigo-lighten-5 {
  color: #e8eaf6 !important;
}

.text-indigo-lighten-4 {
  color: #c5cae9 !important;
}

.text-indigo-lighten-3 {
  color: #9fa8da !important;
}

.text-indigo-lighten-2 {
  color: #7986cb !important;
}

.text-indigo-lighten-1 {
  color: #5c6bc0 !important;
}

.text-indigo-darken-1 {
  color: #3949ab !important;
}

.text-indigo-darken-2 {
  color: #303f9f !important;
}

.text-indigo-darken-3 {
  color: #283593 !important;
}

.text-indigo-darken-4 {
  color: #1a237e !important;
}

.text-indigo-accent-1 {
  color: #8c9eff !important;
}

.text-indigo-accent-2 {
  color: #536dfe !important;
}

.text-indigo-accent-3 {
  color: #3d5afe !important;
}

.text-indigo-accent-4 {
  color: #304ffe !important;
}

.text-blue {
  color: #2196F3 !important;
}

.text-blue-lighten-5 {
  color: #E3F2FD !important;
}

.text-blue-lighten-4 {
  color: #BBDEFB !important;
}

.text-blue-lighten-3 {
  color: #90CAF9 !important;
}

.text-blue-lighten-2 {
  color: #64B5F6 !important;
}

.text-blue-lighten-1 {
  color: #42A5F5 !important;
}

.text-blue-darken-1 {
  color: #1E88E5 !important;
}

.text-blue-darken-2 {
  color: #1976D2 !important;
}

.text-blue-darken-3 {
  color: #1565C0 !important;
}

.text-blue-darken-4 {
  color: #0D47A1 !important;
}

.text-blue-accent-1 {
  color: #82B1FF !important;
}

.text-blue-accent-2 {
  color: #448AFF !important;
}

.text-blue-accent-3 {
  color: #2979FF !important;
}

.text-blue-accent-4 {
  color: #2962FF !important;
}

.text-light-blue {
  color: #03a9f4 !important;
}

.text-light-blue-lighten-5 {
  color: #e1f5fe !important;
}

.text-light-blue-lighten-4 {
  color: #b3e5fc !important;
}

.text-light-blue-lighten-3 {
  color: #81d4fa !important;
}

.text-light-blue-lighten-2 {
  color: #4fc3f7 !important;
}

.text-light-blue-lighten-1 {
  color: #29b6f6 !important;
}

.text-light-blue-darken-1 {
  color: #039be5 !important;
}

.text-light-blue-darken-2 {
  color: #0288d1 !important;
}

.text-light-blue-darken-3 {
  color: #0277bd !important;
}

.text-light-blue-darken-4 {
  color: #01579b !important;
}

.text-light-blue-accent-1 {
  color: #80d8ff !important;
}

.text-light-blue-accent-2 {
  color: #40c4ff !important;
}

.text-light-blue-accent-3 {
  color: #00b0ff !important;
}

.text-light-blue-accent-4 {
  color: #0091ea !important;
}

.text-cyan {
  color: #00bcd4 !important;
}

.text-cyan-lighten-5 {
  color: #e0f7fa !important;
}

.text-cyan-lighten-4 {
  color: #b2ebf2 !important;
}

.text-cyan-lighten-3 {
  color: #80deea !important;
}

.text-cyan-lighten-2 {
  color: #4dd0e1 !important;
}

.text-cyan-lighten-1 {
  color: #26c6da !important;
}

.text-cyan-darken-1 {
  color: #00acc1 !important;
}

.text-cyan-darken-2 {
  color: #0097a7 !important;
}

.text-cyan-darken-3 {
  color: #00838f !important;
}

.text-cyan-darken-4 {
  color: #006064 !important;
}

.text-cyan-accent-1 {
  color: #84ffff !important;
}

.text-cyan-accent-2 {
  color: #18ffff !important;
}

.text-cyan-accent-3 {
  color: #00e5ff !important;
}

.text-cyan-accent-4 {
  color: #00b8d4 !important;
}

.text-teal {
  color: #009688 !important;
}

.text-teal-lighten-5 {
  color: #e0f2f1 !important;
}

.text-teal-lighten-4 {
  color: #b2dfdb !important;
}

.text-teal-lighten-3 {
  color: #80cbc4 !important;
}

.text-teal-lighten-2 {
  color: #4db6ac !important;
}

.text-teal-lighten-1 {
  color: #26a69a !important;
}

.text-teal-darken-1 {
  color: #00897b !important;
}

.text-teal-darken-2 {
  color: #00796b !important;
}

.text-teal-darken-3 {
  color: #00695c !important;
}

.text-teal-darken-4 {
  color: #004d40 !important;
}

.text-teal-accent-1 {
  color: #a7ffeb !important;
}

.text-teal-accent-2 {
  color: #64ffda !important;
}

.text-teal-accent-3 {
  color: #1de9b6 !important;
}

.text-teal-accent-4 {
  color: #00bfa5 !important;
}

.text-green {
  color: #4CAF50 !important;
}

.text-green-lighten-5 {
  color: #E8F5E9 !important;
}

.text-green-lighten-4 {
  color: #C8E6C9 !important;
}

.text-green-lighten-3 {
  color: #A5D6A7 !important;
}

.text-green-lighten-2 {
  color: #81C784 !important;
}

.text-green-lighten-1 {
  color: #66BB6A !important;
}

.text-green-darken-1 {
  color: #43A047 !important;
}

.text-green-darken-2 {
  color: #388E3C !important;
}

.text-green-darken-3 {
  color: #2E7D32 !important;
}

.text-green-darken-4 {
  color: #1B5E20 !important;
}

.text-green-accent-1 {
  color: #B9F6CA !important;
}

.text-green-accent-2 {
  color: #69F0AE !important;
}

.text-green-accent-3 {
  color: #00E676 !important;
}

.text-green-accent-4 {
  color: #00C853 !important;
}

.text-light-green {
  color: #8bc34a !important;
}

.text-light-green-lighten-5 {
  color: #f1f8e9 !important;
}

.text-light-green-lighten-4 {
  color: #dcedc8 !important;
}

.text-light-green-lighten-3 {
  color: #c5e1a5 !important;
}

.text-light-green-lighten-2 {
  color: #aed581 !important;
}

.text-light-green-lighten-1 {
  color: #9ccc65 !important;
}

.text-light-green-darken-1 {
  color: #7cb342 !important;
}

.text-light-green-darken-2 {
  color: #689f38 !important;
}

.text-light-green-darken-3 {
  color: #558b2f !important;
}

.text-light-green-darken-4 {
  color: #33691e !important;
}

.text-light-green-accent-1 {
  color: #ccff90 !important;
}

.text-light-green-accent-2 {
  color: #b2ff59 !important;
}

.text-light-green-accent-3 {
  color: #76ff03 !important;
}

.text-light-green-accent-4 {
  color: #64dd17 !important;
}

.text-lime {
  color: #cddc39 !important;
}

.text-lime-lighten-5 {
  color: #f9fbe7 !important;
}

.text-lime-lighten-4 {
  color: #f0f4c3 !important;
}

.text-lime-lighten-3 {
  color: #e6ee9c !important;
}

.text-lime-lighten-2 {
  color: #dce775 !important;
}

.text-lime-lighten-1 {
  color: #d4e157 !important;
}

.text-lime-darken-1 {
  color: #c0ca33 !important;
}

.text-lime-darken-2 {
  color: #afb42b !important;
}

.text-lime-darken-3 {
  color: #9e9d24 !important;
}

.text-lime-darken-4 {
  color: #827717 !important;
}

.text-lime-accent-1 {
  color: #f4ff81 !important;
}

.text-lime-accent-2 {
  color: #eeff41 !important;
}

.text-lime-accent-3 {
  color: #c6ff00 !important;
}

.text-lime-accent-4 {
  color: #aeea00 !important;
}

.text-yellow {
  color: #ffeb3b !important;
}

.text-yellow-lighten-5 {
  color: #fffde7 !important;
}

.text-yellow-lighten-4 {
  color: #fff9c4 !important;
}

.text-yellow-lighten-3 {
  color: #fff59d !important;
}

.text-yellow-lighten-2 {
  color: #fff176 !important;
}

.text-yellow-lighten-1 {
  color: #ffee58 !important;
}

.text-yellow-darken-1 {
  color: #fdd835 !important;
}

.text-yellow-darken-2 {
  color: #fbc02d !important;
}

.text-yellow-darken-3 {
  color: #f9a825 !important;
}

.text-yellow-darken-4 {
  color: #f57f17 !important;
}

.text-yellow-accent-1 {
  color: #ffff8d !important;
}

.text-yellow-accent-2 {
  color: #ffff00 !important;
}

.text-yellow-accent-3 {
  color: #ffea00 !important;
}

.text-yellow-accent-4 {
  color: #ffd600 !important;
}

.text-amber {
  color: #ffc107 !important;
}

.text-amber-lighten-5 {
  color: #fff8e1 !important;
}

.text-amber-lighten-4 {
  color: #ffecb3 !important;
}

.text-amber-lighten-3 {
  color: #ffe082 !important;
}

.text-amber-lighten-2 {
  color: #ffd54f !important;
}

.text-amber-lighten-1 {
  color: #ffca28 !important;
}

.text-amber-darken-1 {
  color: #ffb300 !important;
}

.text-amber-darken-2 {
  color: #ffa000 !important;
}

.text-amber-darken-3 {
  color: #ff8f00 !important;
}

.text-amber-darken-4 {
  color: #ff6f00 !important;
}

.text-amber-accent-1 {
  color: #ffe57f !important;
}

.text-amber-accent-2 {
  color: #ffd740 !important;
}

.text-amber-accent-3 {
  color: #ffc400 !important;
}

.text-amber-accent-4 {
  color: #ffab00 !important;
}

.text-orange {
  color: #ff9800 !important;
}

.text-orange-lighten-5 {
  color: #fff3e0 !important;
}

.text-orange-lighten-4 {
  color: #ffe0b2 !important;
}

.text-orange-lighten-3 {
  color: #ffcc80 !important;
}

.text-orange-lighten-2 {
  color: #ffb74d !important;
}

.text-orange-lighten-1 {
  color: #ffa726 !important;
}

.text-orange-darken-1 {
  color: #fb8c00 !important;
}

.text-orange-darken-2 {
  color: #f57c00 !important;
}

.text-orange-darken-3 {
  color: #ef6c00 !important;
}

.text-orange-darken-4 {
  color: #e65100 !important;
}

.text-orange-accent-1 {
  color: #ffd180 !important;
}

.text-orange-accent-2 {
  color: #ffab40 !important;
}

.text-orange-accent-3 {
  color: #ff9100 !important;
}

.text-orange-accent-4 {
  color: #ff6d00 !important;
}

.text-deep-orange {
  color: #ff5722 !important;
}

.text-deep-orange-lighten-5 {
  color: #fbe9e7 !important;
}

.text-deep-orange-lighten-4 {
  color: #ffccbc !important;
}

.text-deep-orange-lighten-3 {
  color: #ffab91 !important;
}

.text-deep-orange-lighten-2 {
  color: #ff8a65 !important;
}

.text-deep-orange-lighten-1 {
  color: #ff7043 !important;
}

.text-deep-orange-darken-1 {
  color: #f4511e !important;
}

.text-deep-orange-darken-2 {
  color: #e64a19 !important;
}

.text-deep-orange-darken-3 {
  color: #d84315 !important;
}

.text-deep-orange-darken-4 {
  color: #bf360c !important;
}

.text-deep-orange-accent-1 {
  color: #ff9e80 !important;
}

.text-deep-orange-accent-2 {
  color: #ff6e40 !important;
}

.text-deep-orange-accent-3 {
  color: #ff3d00 !important;
}

.text-deep-orange-accent-4 {
  color: #dd2c00 !important;
}

.text-brown {
  color: #795548 !important;
}

.text-brown-lighten-5 {
  color: #efebe9 !important;
}

.text-brown-lighten-4 {
  color: #d7ccc8 !important;
}

.text-brown-lighten-3 {
  color: #bcaaa4 !important;
}

.text-brown-lighten-2 {
  color: #a1887f !important;
}

.text-brown-lighten-1 {
  color: #8d6e63 !important;
}

.text-brown-darken-1 {
  color: #6d4c41 !important;
}

.text-brown-darken-2 {
  color: #5d4037 !important;
}

.text-brown-darken-3 {
  color: #4e342e !important;
}

.text-brown-darken-4 {
  color: #3e2723 !important;
}

.text-blue-grey {
  color: #607d8b !important;
}

.text-blue-grey-lighten-5 {
  color: #eceff1 !important;
}

.text-blue-grey-lighten-4 {
  color: #cfd8dc !important;
}

.text-blue-grey-lighten-3 {
  color: #b0bec5 !important;
}

.text-blue-grey-lighten-2 {
  color: #90a4ae !important;
}

.text-blue-grey-lighten-1 {
  color: #78909c !important;
}

.text-blue-grey-darken-1 {
  color: #546e7a !important;
}

.text-blue-grey-darken-2 {
  color: #455a64 !important;
}

.text-blue-grey-darken-3 {
  color: #37474f !important;
}

.text-blue-grey-darken-4 {
  color: #263238 !important;
}

.text-grey {
  color: #9e9e9e !important;
}

.text-grey-lighten-5 {
  color: #fafafa !important;
}

.text-grey-lighten-4 {
  color: #f5f5f5 !important;
}

.text-grey-lighten-3 {
  color: #eeeeee !important;
}

.text-grey-lighten-2 {
  color: #e0e0e0 !important;
}

.text-grey-lighten-1 {
  color: #bdbdbd !important;
}

.text-grey-darken-1 {
  color: #757575 !important;
}

.text-grey-darken-2 {
  color: #616161 !important;
}

.text-grey-darken-3 {
  color: #424242 !important;
}

.text-grey-darken-4 {
  color: #212121 !important;
}

.text-shades-black {
  color: #000000 !important;
}

.text-shades-white {
  color: #FFFFFF !important;
}

.text-shades-transparent {
  color: transparent !important;
}


















.ma-0 {
  margin: 0px !important;
}

.ma-1 {
  margin: 4px !important;
}

.ma-2 {
  margin: 8px !important;
}

.ma-3 {
  margin: 12px !important;
}

.ma-4 {
  margin: 16px !important;
}

.ma-5 {
  margin: 20px !important;
}

.ma-6 {
  margin: 24px !important;
}

.ma-7 {
  margin: 28px !important;
}

.ma-8 {
  margin: 32px !important;
}

.ma-9 {
  margin: 36px !important;
}

.ma-10 {
  margin: 40px !important;
}

.ma-11 {
  margin: 44px !important;
}

.ma-12 {
  margin: 48px !important;
}

.ma-13 {
  margin: 52px !important;
}

.ma-14 {
  margin: 56px !important;
}

.ma-15 {
  margin: 60px !important;
}

.ma-16 {
  margin: 64px !important;
}

.ma-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.mx-1 {
  margin-right: 4px !important;
  margin-left: 4px !important;
}

.mx-2 {
  margin-right: 8px !important;
  margin-left: 8px !important;
}

.mx-3 {
  margin-right: 12px !important;
  margin-left: 12px !important;
}

.mx-4 {
  margin-right: 16px !important;
  margin-left: 16px !important;
}

.mx-5 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.mx-6 {
  margin-right: 24px !important;
  margin-left: 24px !important;
}

.mx-7 {
  margin-right: 28px !important;
  margin-left: 28px !important;
}

.mx-8 {
  margin-right: 32px !important;
  margin-left: 32px !important;
}

.mx-9 {
  margin-right: 36px !important;
  margin-left: 36px !important;
}

.mx-10 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.mx-11 {
  margin-right: 44px !important;
  margin-left: 44px !important;
}

.mx-12 {
  margin-right: 48px !important;
  margin-left: 48px !important;
}

.mx-13 {
  margin-right: 52px !important;
  margin-left: 52px !important;
}

.mx-14 {
  margin-right: 56px !important;
  margin-left: 56px !important;
}

.mx-15 {
  margin-right: 60px !important;
  margin-left: 60px !important;
}

.mx-16 {
  margin-right: 64px !important;
  margin-left: 64px !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-7 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.my-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-9 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.my-10 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.my-11 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}

.my-12 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-13 {
  margin-top: 52px !important;
  margin-bottom: 52px !important;
}

.my-14 {
  margin-top: 56px !important;
  margin-bottom: 56px !important;
}

.my-15 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.my-16 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-3 {
  margin-top: 12px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mt-5 {
  margin-top: 20px !important;
}

.mt-6 {
  margin-top: 24px !important;
}

.mt-7 {
  margin-top: 28px !important;
}

.mt-8 {
  margin-top: 32px !important;
}

.mt-9 {
  margin-top: 36px !important;
}

.mt-10 {
  margin-top: 40px !important;
}

.mt-11 {
  margin-top: 44px !important;
}

.mt-12 {
  margin-top: 48px !important;
}

.mt-13 {
  margin-top: 52px !important;
}

.mt-14 {
  margin-top: 56px !important;
}

.mt-15 {
  margin-top: 60px !important;
}

.mt-16 {
  margin-top: 64px !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.mr-3 {
  margin-right: 12px !important;
}

.mr-4 {
  margin-right: 16px !important;
}

.mr-5 {
  margin-right: 20px !important;
}

.mr-6 {
  margin-right: 24px !important;
}

.mr-7 {
  margin-right: 28px !important;
}

.mr-8 {
  margin-right: 32px !important;
}

.mr-9 {
  margin-right: 36px !important;
}

.mr-10 {
  margin-right: 40px !important;
}

.mr-11 {
  margin-right: 44px !important;
}

.mr-12 {
  margin-right: 48px !important;
}

.mr-13 {
  margin-right: 52px !important;
}

.mr-14 {
  margin-right: 56px !important;
}

.mr-15 {
  margin-right: 60px !important;
}

.mr-16 {
  margin-right: 64px !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 12px !important;
}

.mb-4 {
  margin-bottom: 16px !important;
}

.mb-5 {
  margin-bottom: 20px !important;
}

.mb-6 {
  margin-bottom: 24px !important;
}

.mb-7 {
  margin-bottom: 28px !important;
}

.mb-8 {
  margin-bottom: 32px !important;
}

.mb-9 {
  margin-bottom: 36px !important;
}

.mb-10 {
  margin-bottom: 40px !important;
}

.mb-11 {
  margin-bottom: 44px !important;
}

.mb-12 {
  margin-bottom: 48px !important;
}

.mb-13 {
  margin-bottom: 52px !important;
}

.mb-14 {
  margin-bottom: 56px !important;
}

.mb-15 {
  margin-bottom: 60px !important;
}

.mb-16 {
  margin-bottom: 64px !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.ml-3 {
  margin-left: 12px !important;
}

.ml-4 {
  margin-left: 16px !important;
}

.ml-5 {
  margin-left: 20px !important;
}

.ml-6 {
  margin-left: 24px !important;
}

.ml-7 {
  margin-left: 28px !important;
}

.ml-8 {
  margin-left: 32px !important;
}

.ml-9 {
  margin-left: 36px !important;
}

.ml-10 {
  margin-left: 40px !important;
}

.ml-11 {
  margin-left: 44px !important;
}

.ml-12 {
  margin-left: 48px !important;
}

.ml-13 {
  margin-left: 52px !important;
}

.ml-14 {
  margin-left: 56px !important;
}

.ml-15 {
  margin-left: 60px !important;
}

.ml-16 {
  margin-left: 64px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.ms-0 {
  margin-inline-start: 0px !important;
}

.ms-1 {
  margin-inline-start: 4px !important;
}

.ms-2 {
  margin-inline-start: 8px !important;
}

.ms-3 {
  margin-inline-start: 12px !important;
}

.ms-4 {
  margin-inline-start: 16px !important;
}

.ms-5 {
  margin-inline-start: 20px !important;
}

.ms-6 {
  margin-inline-start: 24px !important;
}

.ms-7 {
  margin-inline-start: 28px !important;
}

.ms-8 {
  margin-inline-start: 32px !important;
}

.ms-9 {
  margin-inline-start: 36px !important;
}

.ms-10 {
  margin-inline-start: 40px !important;
}

.ms-11 {
  margin-inline-start: 44px !important;
}

.ms-12 {
  margin-inline-start: 48px !important;
}

.ms-13 {
  margin-inline-start: 52px !important;
}

.ms-14 {
  margin-inline-start: 56px !important;
}

.ms-15 {
  margin-inline-start: 60px !important;
}

.ms-16 {
  margin-inline-start: 64px !important;
}

.ms-auto {
  margin-inline-start: auto !important;
}

.me-0 {
  margin-inline-end: 0px !important;
}

.me-1 {
  margin-inline-end: 4px !important;
}

.me-2 {
  margin-inline-end: 8px !important;
}

.me-3 {
  margin-inline-end: 12px !important;
}

.me-4 {
  margin-inline-end: 16px !important;
}

.me-5 {
  margin-inline-end: 20px !important;
}

.me-6 {
  margin-inline-end: 24px !important;
}

.me-7 {
  margin-inline-end: 28px !important;
}

.me-8 {
  margin-inline-end: 32px !important;
}

.me-9 {
  margin-inline-end: 36px !important;
}

.me-10 {
  margin-inline-end: 40px !important;
}

.me-11 {
  margin-inline-end: 44px !important;
}

.me-12 {
  margin-inline-end: 48px !important;
}

.me-13 {
  margin-inline-end: 52px !important;
}

.me-14 {
  margin-inline-end: 56px !important;
}

.me-15 {
  margin-inline-end: 60px !important;
}

.me-16 {
  margin-inline-end: 64px !important;
}

.me-auto {
  margin-inline-end: auto !important;
}

.ma-n1 {
  margin: -4px !important;
}

.ma-n2 {
  margin: -8px !important;
}

.ma-n3 {
  margin: -12px !important;
}

.ma-n4 {
  margin: -16px !important;
}

.ma-n5 {
  margin: -20px !important;
}

.ma-n6 {
  margin: -24px !important;
}

.ma-n7 {
  margin: -28px !important;
}

.ma-n8 {
  margin: -32px !important;
}

.ma-n9 {
  margin: -36px !important;
}

.ma-n10 {
  margin: -40px !important;
}

.ma-n11 {
  margin: -44px !important;
}

.ma-n12 {
  margin: -48px !important;
}

.ma-n13 {
  margin: -52px !important;
}

.ma-n14 {
  margin: -56px !important;
}

.ma-n15 {
  margin: -60px !important;
}

.ma-n16 {
  margin: -64px !important;
}

.mx-n1 {
  margin-right: -4px !important;
  margin-left: -4px !important;
}

.mx-n2 {
  margin-right: -8px !important;
  margin-left: -8px !important;
}

.mx-n3 {
  margin-right: -12px !important;
  margin-left: -12px !important;
}

.mx-n4 {
  margin-right: -16px !important;
  margin-left: -16px !important;
}

.mx-n5 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.mx-n6 {
  margin-right: -24px !important;
  margin-left: -24px !important;
}

.mx-n7 {
  margin-right: -28px !important;
  margin-left: -28px !important;
}

.mx-n8 {
  margin-right: -32px !important;
  margin-left: -32px !important;
}

.mx-n9 {
  margin-right: -36px !important;
  margin-left: -36px !important;
}

.mx-n10 {
  margin-right: -40px !important;
  margin-left: -40px !important;
}

.mx-n11 {
  margin-right: -44px !important;
  margin-left: -44px !important;
}

.mx-n12 {
  margin-right: -48px !important;
  margin-left: -48px !important;
}

.mx-n13 {
  margin-right: -52px !important;
  margin-left: -52px !important;
}

.mx-n14 {
  margin-right: -56px !important;
  margin-left: -56px !important;
}

.mx-n15 {
  margin-right: -60px !important;
  margin-left: -60px !important;
}

.mx-n16 {
  margin-right: -64px !important;
  margin-left: -64px !important;
}

.my-n1 {
  margin-top: -4px !important;
  margin-bottom: -4px !important;
}

.my-n2 {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}

.my-n3 {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}

.my-n4 {
  margin-top: -16px !important;
  margin-bottom: -16px !important;
}

.my-n5 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}

.my-n6 {
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}

.my-n7 {
  margin-top: -28px !important;
  margin-bottom: -28px !important;
}

.my-n8 {
  margin-top: -32px !important;
  margin-bottom: -32px !important;
}

.my-n9 {
  margin-top: -36px !important;
  margin-bottom: -36px !important;
}

.my-n10 {
  margin-top: -40px !important;
  margin-bottom: -40px !important;
}

.my-n11 {
  margin-top: -44px !important;
  margin-bottom: -44px !important;
}

.my-n12 {
  margin-top: -48px !important;
  margin-bottom: -48px !important;
}

.my-n13 {
  margin-top: -52px !important;
  margin-bottom: -52px !important;
}

.my-n14 {
  margin-top: -56px !important;
  margin-bottom: -56px !important;
}

.my-n15 {
  margin-top: -60px !important;
  margin-bottom: -60px !important;
}

.my-n16 {
  margin-top: -64px !important;
  margin-bottom: -64px !important;
}

.mt-n1 {
  margin-top: -4px !important;
}

.mt-n2 {
  margin-top: -8px !important;
}

.mt-n3 {
  margin-top: -12px !important;
}

.mt-n4 {
  margin-top: -16px !important;
}

.mt-n5 {
  margin-top: -20px !important;
}

.mt-n6 {
  margin-top: -24px !important;
}

.mt-n7 {
  margin-top: -28px !important;
}

.mt-n8 {
  margin-top: -32px !important;
}

.mt-n9 {
  margin-top: -36px !important;
}

.mt-n10 {
  margin-top: -40px !important;
}

.mt-n11 {
  margin-top: -44px !important;
}

.mt-n12 {
  margin-top: -48px !important;
}

.mt-n13 {
  margin-top: -52px !important;
}

.mt-n14 {
  margin-top: -56px !important;
}

.mt-n15 {
  margin-top: -60px !important;
}

.mt-n16 {
  margin-top: -64px !important;
}

.mr-n1 {
  margin-right: -4px !important;
}

.mr-n2 {
  margin-right: -8px !important;
}

.mr-n3 {
  margin-right: -12px !important;
}

.mr-n4 {
  margin-right: -16px !important;
}

.mr-n5 {
  margin-right: -20px !important;
}

.mr-n6 {
  margin-right: -24px !important;
}

.mr-n7 {
  margin-right: -28px !important;
}

.mr-n8 {
  margin-right: -32px !important;
}

.mr-n9 {
  margin-right: -36px !important;
}

.mr-n10 {
  margin-right: -40px !important;
}

.mr-n11 {
  margin-right: -44px !important;
}

.mr-n12 {
  margin-right: -48px !important;
}

.mr-n13 {
  margin-right: -52px !important;
}

.mr-n14 {
  margin-right: -56px !important;
}

.mr-n15 {
  margin-right: -60px !important;
}

.mr-n16 {
  margin-right: -64px !important;
}

.mb-n1 {
  margin-bottom: -4px !important;
}

.mb-n2 {
  margin-bottom: -8px !important;
}

.mb-n3 {
  margin-bottom: -12px !important;
}

.mb-n4 {
  margin-bottom: -16px !important;
}

.mb-n5 {
  margin-bottom: -20px !important;
}

.mb-n6 {
  margin-bottom: -24px !important;
}

.mb-n7 {
  margin-bottom: -28px !important;
}

.mb-n8 {
  margin-bottom: -32px !important;
}

.mb-n9 {
  margin-bottom: -36px !important;
}

.mb-n10 {
  margin-bottom: -40px !important;
}

.mb-n11 {
  margin-bottom: -44px !important;
}

.mb-n12 {
  margin-bottom: -48px !important;
}

.mb-n13 {
  margin-bottom: -52px !important;
}

.mb-n14 {
  margin-bottom: -56px !important;
}

.mb-n15 {
  margin-bottom: -60px !important;
}

.mb-n16 {
  margin-bottom: -64px !important;
}

.ml-n1 {
  margin-left: -4px !important;
}

.ml-n2 {
  margin-left: -8px !important;
}

.ml-n3 {
  margin-left: -12px !important;
}

.ml-n4 {
  margin-left: -16px !important;
}

.ml-n5 {
  margin-left: -20px !important;
}

.ml-n6 {
  margin-left: -24px !important;
}

.ml-n7 {
  margin-left: -28px !important;
}

.ml-n8 {
  margin-left: -32px !important;
}

.ml-n9 {
  margin-left: -36px !important;
}

.ml-n10 {
  margin-left: -40px !important;
}

.ml-n11 {
  margin-left: -44px !important;
}

.ml-n12 {
  margin-left: -48px !important;
}

.ml-n13 {
  margin-left: -52px !important;
}

.ml-n14 {
  margin-left: -56px !important;
}

.ml-n15 {
  margin-left: -60px !important;
}

.ml-n16 {
  margin-left: -64px !important;
}

.ms-n1 {
  margin-inline-start: -4px !important;
}

.ms-n2 {
  margin-inline-start: -8px !important;
}

.ms-n3 {
  margin-inline-start: -12px !important;
}

.ms-n4 {
  margin-inline-start: -16px !important;
}

.ms-n5 {
  margin-inline-start: -20px !important;
}

.ms-n6 {
  margin-inline-start: -24px !important;
}

.ms-n7 {
  margin-inline-start: -28px !important;
}

.ms-n8 {
  margin-inline-start: -32px !important;
}

.ms-n9 {
  margin-inline-start: -36px !important;
}

.ms-n10 {
  margin-inline-start: -40px !important;
}

.ms-n11 {
  margin-inline-start: -44px !important;
}

.ms-n12 {
  margin-inline-start: -48px !important;
}

.ms-n13 {
  margin-inline-start: -52px !important;
}

.ms-n14 {
  margin-inline-start: -56px !important;
}

.ms-n15 {
  margin-inline-start: -60px !important;
}

.ms-n16 {
  margin-inline-start: -64px !important;
}

.me-n1 {
  margin-inline-end: -4px !important;
}

.me-n2 {
  margin-inline-end: -8px !important;
}

.me-n3 {
  margin-inline-end: -12px !important;
}

.me-n4 {
  margin-inline-end: -16px !important;
}

.me-n5 {
  margin-inline-end: -20px !important;
}

.me-n6 {
  margin-inline-end: -24px !important;
}

.me-n7 {
  margin-inline-end: -28px !important;
}

.me-n8 {
  margin-inline-end: -32px !important;
}

.me-n9 {
  margin-inline-end: -36px !important;
}

.me-n10 {
  margin-inline-end: -40px !important;
}

.me-n11 {
  margin-inline-end: -44px !important;
}

.me-n12 {
  margin-inline-end: -48px !important;
}

.me-n13 {
  margin-inline-end: -52px !important;
}

.me-n14 {
  margin-inline-end: -56px !important;
}

.me-n15 {
  margin-inline-end: -60px !important;
}

.me-n16 {
  margin-inline-end: -64px !important;
}

.pa-0 {
  padding: 0px !important;
}

.pa-1 {
  padding: 4px !important;
}

.pa-2 {
  padding: 8px !important;
}

.pa-3 {
  padding: 12px !important;
}

.pa-4 {
  padding: 16px !important;
}

.pa-5 {
  padding: 20px !important;
}

.pa-6 {
  padding: 24px !important;
}

.pa-7 {
  padding: 28px !important;
}

.pa-8 {
  padding: 32px !important;
}

.pa-9 {
  padding: 36px !important;
}

.pa-10 {
  padding: 40px !important;
}

.pa-11 {
  padding: 44px !important;
}

.pa-12 {
  padding: 48px !important;
}

.pa-13 {
  padding: 52px !important;
}

.pa-14 {
  padding: 56px !important;
}

.pa-15 {
  padding: 60px !important;
}

.pa-16 {
  padding: 64px !important;
}

.px-0 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.px-1 {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.px-2 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.px-3 {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.px-4 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.px-5 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.px-6 {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.px-7 {
  padding-right: 28px !important;
  padding-left: 28px !important;
}

.px-8 {
  padding-right: 32px !important;
  padding-left: 32px !important;
}

.px-9 {
  padding-right: 36px !important;
  padding-left: 36px !important;
}

.px-10 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.px-11 {
  padding-right: 44px !important;
  padding-left: 44px !important;
}

.px-12 {
  padding-right: 48px !important;
  padding-left: 48px !important;
}

.px-13 {
  padding-right: 52px !important;
  padding-left: 52px !important;
}

.px-14 {
  padding-right: 56px !important;
  padding-left: 56px !important;
}

.px-15 {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.px-16 {
  padding-right: 64px !important;
  padding-left: 64px !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py-6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-7 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.py-8 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-9 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.py-10 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py-11 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}

.py-12 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-13 {
  padding-top: 52px !important;
  padding-bottom: 52px !important;
}

.py-14 {
  padding-top: 56px !important;
  padding-bottom: 56px !important;
}

.py-15 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.py-16 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-1 {
  padding-top: 4px !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pt-3 {
  padding-top: 12px !important;
}

.pt-4 {
  padding-top: 16px !important;
}

.pt-5 {
  padding-top: 20px !important;
}

.pt-6 {
  padding-top: 24px !important;
}

.pt-7 {
  padding-top: 28px !important;
}

.pt-8 {
  padding-top: 32px !important;
}

.pt-9 {
  padding-top: 36px !important;
}

.pt-10 {
  padding-top: 40px !important;
}

.pt-11 {
  padding-top: 44px !important;
}

.pt-12 {
  padding-top: 48px !important;
}

.pt-13 {
  padding-top: 52px !important;
}

.pt-14 {
  padding-top: 56px !important;
}

.pt-15 {
  padding-top: 60px !important;
}

.pt-16 {
  padding-top: 64px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-1 {
  padding-right: 4px !important;
}

.pr-2 {
  padding-right: 8px !important;
}

.pr-3 {
  padding-right: 12px !important;
}

.pr-4 {
  padding-right: 16px !important;
}

.pr-5 {
  padding-right: 20px !important;
}

.pr-6 {
  padding-right: 24px !important;
}

.pr-7 {
  padding-right: 28px !important;
}

.pr-8 {
  padding-right: 32px !important;
}

.pr-9 {
  padding-right: 36px !important;
}

.pr-10 {
  padding-right: 40px !important;
}

.pr-11 {
  padding-right: 44px !important;
}

.pr-12 {
  padding-right: 48px !important;
}

.pr-13 {
  padding-right: 52px !important;
}

.pr-14 {
  padding-right: 56px !important;
}

.pr-15 {
  padding-right: 60px !important;
}

.pr-16 {
  padding-right: 64px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-1 {
  padding-bottom: 4px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.pb-3 {
  padding-bottom: 12px !important;
}

.pb-4 {
  padding-bottom: 16px !important;
}

.pb-5 {
  padding-bottom: 20px !important;
}

.pb-6 {
  padding-bottom: 24px !important;
}

.pb-7 {
  padding-bottom: 28px !important;
}

.pb-8 {
  padding-bottom: 32px !important;
}

.pb-9 {
  padding-bottom: 36px !important;
}

.pb-10 {
  padding-bottom: 40px !important;
}

.pb-11 {
  padding-bottom: 44px !important;
}

.pb-12 {
  padding-bottom: 48px !important;
}

.pb-13 {
  padding-bottom: 52px !important;
}

.pb-14 {
  padding-bottom: 56px !important;
}

.pb-15 {
  padding-bottom: 60px !important;
}

.pb-16 {
  padding-bottom: 64px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.pl-3 {
  padding-left: 12px !important;
}

.pl-4 {
  padding-left: 16px !important;
}

.pl-5 {
  padding-left: 20px !important;
}

.pl-6 {
  padding-left: 24px !important;
}

.pl-7 {
  padding-left: 28px !important;
}

.pl-8 {
  padding-left: 32px !important;
}

.pl-9 {
  padding-left: 36px !important;
}

.pl-10 {
  padding-left: 40px !important;
}

.pl-11 {
  padding-left: 44px !important;
}

.pl-12 {
  padding-left: 48px !important;
}

.pl-13 {
  padding-left: 52px !important;
}

.pl-14 {
  padding-left: 56px !important;
}

.pl-15 {
  padding-left: 60px !important;
}

.pl-16 {
  padding-left: 64px !important;
}

.ps-0 {
  padding-inline-start: 0px !important;
}

.ps-1 {
  padding-inline-start: 4px !important;
}

.ps-2 {
  padding-inline-start: 8px !important;
}

.ps-3 {
  padding-inline-start: 12px !important;
}

.ps-4 {
  padding-inline-start: 16px !important;
}

.ps-5 {
  padding-inline-start: 20px !important;
}

.ps-6 {
  padding-inline-start: 24px !important;
}

.ps-7 {
  padding-inline-start: 28px !important;
}

.ps-8 {
  padding-inline-start: 32px !important;
}

.ps-9 {
  padding-inline-start: 36px !important;
}

.ps-10 {
  padding-inline-start: 40px !important;
}

.ps-11 {
  padding-inline-start: 44px !important;
}

.ps-12 {
  padding-inline-start: 48px !important;
}

.ps-13 {
  padding-inline-start: 52px !important;
}

.ps-14 {
  padding-inline-start: 56px !important;
}

.ps-15 {
  padding-inline-start: 60px !important;
}

.ps-16 {
  padding-inline-start: 64px !important;
}

.pe-0 {
  padding-inline-end: 0px !important;
}

.pe-1 {
  padding-inline-end: 4px !important;
}

.pe-2 {
  padding-inline-end: 8px !important;
}

.pe-3 {
  padding-inline-end: 12px !important;
}

.pe-4 {
  padding-inline-end: 16px !important;
}

.pe-5 {
  padding-inline-end: 20px !important;
}

.pe-6 {
  padding-inline-end: 24px !important;
}

.pe-7 {
  padding-inline-end: 28px !important;
}

.pe-8 {
  padding-inline-end: 32px !important;
}

.pe-9 {
  padding-inline-end: 36px !important;
}

.pe-10 {
  padding-inline-end: 40px !important;
}

.pe-11 {
  padding-inline-end: 44px !important;
}

.pe-12 {
  padding-inline-end: 48px !important;
}

.pe-13 {
  padding-inline-end: 52px !important;
}

.pe-14 {
  padding-inline-end: 56px !important;
}

.pe-15 {
  padding-inline-end: 60px !important;
}

.pe-16 {
  padding-inline-end: 64px !important;
}






.elevation-24 {
  box-shadow: 0px 11px 15px -7px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 24px 38px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 9px 46px 8px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-23 {
  box-shadow: 0px 11px 14px -7px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 23px 36px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 9px 44px 8px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-22 {
  box-shadow: 0px 10px 14px -6px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 22px 35px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 8px 42px 7px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-21 {
  box-shadow: 0px 10px 13px -6px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 21px 33px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 8px 40px 7px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-20 {
  box-shadow: 0px 10px 13px -6px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 20px 31px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 8px 38px 7px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-19 {
  box-shadow: 0px 9px 12px -6px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 19px 29px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 7px 36px 6px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-18 {
  box-shadow: 0px 9px 11px -5px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 18px 28px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 7px 34px 6px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-17 {
  box-shadow: 0px 8px 11px -5px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 17px 26px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 6px 32px 5px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-16 {
  box-shadow: 0px 8px 10px -5px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 16px 24px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 6px 30px 5px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-15 {
  box-shadow: 0px 8px 9px -5px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 15px 22px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 6px 28px 5px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-14 {
  box-shadow: 0px 7px 9px -4px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 14px 21px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 5px 26px 4px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-13 {
  box-shadow: 0px 7px 8px -4px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 13px 19px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 5px 24px 4px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-12 {
  box-shadow: 0px 7px 8px -4px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 12px 17px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 5px 22px 4px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-11 {
  box-shadow: 0px 6px 7px -4px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 11px 15px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 4px 20px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-10 {
  box-shadow: 0px 6px 6px -3px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 10px 14px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 4px 18px 3px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-9 {
  box-shadow: 0px 5px 6px -3px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 9px 12px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 3px 16px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-8 {
  box-shadow: 0px 5px 5px -3px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 8px 10px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 3px 14px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-7 {
  box-shadow: 0px 4px 5px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 7px 10px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 2px 16px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-6 {
  box-shadow: 0px 3px 5px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 6px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 18px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-5 {
  box-shadow: 0px 3px 5px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 5px 8px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 14px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-4 {
  box-shadow: 0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-3 {
  box-shadow: 0px 3px 3px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 3px 4px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 8px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-2 {
  box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-1 {
  box-shadow: 0px 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 3px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.elevation-0 {
  box-shadow: 0px 0px 0px 0px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}





.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: 2px !important;
}

.rounded-2 {
  border-radius: 4px !important;
}

.rounded-3 {
  border-radius: 6px !important;
}

.rounded-4 {
  border-radius: 8px !important;
}

.rounded-5 {
  border-radius: 10px !important;
}

.rounded-6 {
  border-radius: 12px !important;
}

.rounded-7 {
  border-radius: 14px !important;
}

.rounded-8 {
  border-radius: 16px !important;
}

.rounded-9 {
  border-radius: 18px !important;
}

.rounded-10 {
  border-radius: 20px !important;
}

.rounded-11 {
  border-radius: 22px !important;
}

.rounded-12 {
  border-radius: 24px !important;
}



.opacity-0 {
  opacity: 0 !important;
}

.opacity-10 {
  opacity: 0.1 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.opacity-30 {
  opacity: 0.3 !important;
}

.opacity-40 {
  opacity: 0.4 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-60 {
  opacity: 0.6 !important;
}

.opacity-70 {
  opacity: 0.7 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-90 {
  opacity: 0.9 !important;
}

.opacity-100 {
  opacity: 1.0 !important;
}

.h-25 {
  height: 25%;
}
.h-75 {
  height: 75%;
}
.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}


.w-25 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}




















.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}




.slide-enter-active {
  transition: all 0.3s ease;
}

.slide-leave-active {
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  max-height: 0;
  overflow: hidden;
}




.slide-enter-active,
.slide-leave-active {
  transition: max-height 0.5s ease-in-out;
}

.slide-enter-to,
.slide-leave-from {
  overflow: hidden;
  max-height: 1000px;
}

.slide-enter-from,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}






.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}










/* override these */
.input-invaild-display {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}

.input-invaild-display .input-vaild-feedback {
  color: #8C0606;
  font-size: 15px;
  margin-left: 6px;
  margin-top: 3px;
}

@media print {
  .no-print {
      visibility: hidden;
      height: 0px;
      overflow: hidden;
  }
}